.input-group {
    text-align: center;
    font-family: 'Roboto Slab' , serif;
}

.blog-post {
    background-color: #ffffff;
    border: 1px solid #000000;
    width: 45%;
    margin: 0 auto;
    padding: 20px;
    height: content-box;
}

.blog-container {
    background-color: #cecece;
}

.contenitoremod {
    padding: 30px;
}

.registrati {
    height: auto;
    background-color: #cecece;
}


