.dove_siamo {
    width: auto;
}

.descrizione {
    background-color: white;
    text-align: center;
    font-family: 'Roboto Slab', serif;
}

.mappa {
    width: auto;
    text-align: center;
    font-family: 'Roboto Slab', serif;
}

.mappa iframe {
    width: auto;
    min-width: 800px;
    padding: 20px;
}
.p {
    text-align: center;
}

